.navbar__menu--link, .navbar__menu, .navbar__logo {
  display: flex;
  align-items: center;
}

.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  z-index: 10;
  position: relative;
}
.navbar__logo {
  color: #9a48cf;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  margin-left: 1.5rem;
}
.navbar__bars {
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .navbar__bars {
    color: #9a48cf;
    opacity: 1;
    position: absolute;
    top: 22px;
    right: 20px;
    font-size: 2rem;
  }
}
.navbar__menu {
  list-style: none;
  text-align: center;
  margin-right: 1.5rem;
}
@media screen and (max-width: 768px) {
  .navbar__menu {
    display: none;
  }
}
.navbar__menu--link {
  color: #9a48cf;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
}
.navbar__menu--link:hover {
  color: #602486;
  transition: all 0.3s ease;
}
.navbar__menu--button {
  padding: 0.75rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #602486;
  margin-left: 1rem;
  color: #e3ccf2;
}
.navbar__menu--button:hover {
  background: #cf649a;
  transition: all 0.3s ease;
}

.hero {
  background-color: #e3ccf2;
}
.hero__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  height: 90vh;
  z-index: 1;
  width: 100%;
  max-width: 1200px;
  padding-right: 24px;
  padding-left: 24px;
}
@media screen and (max-width: 768px) {
  .hero__container {
    grid-template-columns: 1fr;
    height: 100%;
  }
}
.hero__container--left {
  width: 100%;
  line-height: 1.2;
}
@media screen and (max-width: 768px) {
  .hero__container--left {
    padding: 5rem 0;
  }
}
@media screen and (max-width: 280px) {
  .hero__container--left {
    line-height: 1.5;
  }
}
.hero__container--left h1 {
  font-size: 4rem;
  color: #602486;
  margin: 0;
}
@media screen and (max-width: 280px) {
  .hero__container--left h1 {
    font-size: 1.5rem;
  }
}
.hero__container--left h2 {
  font-size: 3rem;
  color: #9a48cf;
  margin: 0;
}
@media screen and (max-width: 280px) {
  .hero__container--left h2 {
    font-size: 2rem;
  }
}
.hero__container--left p {
  font-size: 1.5rem;
  color: #9a48cf;
  margin-top: 2rem;
  font-weight: 700;
}
@media screen and (max-width: 280px) {
  .hero__container--left p {
    font-size: 1.5rem;
  }
}
.hero__container--right {
  text-align: center;
}
.hero__img {
  height: 100%;
  width: 100%;
}
.hero--button {
  font-size: 1rem;
  background-color: #602486;
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #e3ccf2;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.3s;
  outline: none;
}
.hero--button a {
  position: relative;
  z-index: 2;
  color: #e3ccf2;
  text-decoration: none;
}
.hero--button:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #cf649a;
  transition: all 0.3s;
  border-radius: 4px;
}
.hero--button:hover:after {
  width: 100%;
}

.main {
  background: #e3ccf2;
  font-family: "Kumbh Sans", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
