:root {
	--primary-color: #e3ccf2;
	--secondary-color: #9a48cf;
	--standout-color: #602486;
	--button-hover-color: #cf649a;
}

.main {
	background: var(--primary-color);
	font-family: 'Kumbh Sans', sans-serif;
}

/* navbar */
.navbar {
	height: 80px;
	display: flex;
	justify-content: space-between;
	padding: 0.5rem calc((100vw - 1200px) / 2);
	z-index: 10;
	position: relative;

	&__logo {
		color: var(--secondary-color);
		cursor: pointer;
		text-decoration: none;
		font-size: 2rem;
		margin-left: 24px;
		display: flex;
		align-items: center;
	}

	&__bars {
		opacity: 0;
		@media (max-width: 768px) {
			color: var(--secondary-color);
			opacity: 1;
			position: absolute;
			top: 22px;
			right: 20px;
			font-size: 2rem;
		}
	}

	&__menu {
		list-style: none;
		text-align: center;
		margin-right: 24px;
		display: flex;
		align-items: center;
		@media (max-width: 768px) {
			display: none;
		}

		&--link {
			color: var(--secondary-color);
			justify-content: center;
			text-decoration: none;
			padding: 0 1rem;
			display: flex;
			align-items: center;

			&:hover {
				color: var(--standout-color);
				transition: all 0.3s ease;
			}
		}

		&--button {
			padding: 12px 24px;
			border: none;
			outline: none;
			border-radius: 4px;
			background: var(--standout-color);
			margin-left: 16px;
			color: var(--primary-color);

			&:hover {
				background: var(--button-hover-color);
				transition: all 0.3s ease;
			}

		}
	}
}

/* hero */

.hero {
	background-color: var(--primary-color);

	&__container {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		justify-items: center;
		margin: 0 auto;
		height: 90vh;
		z-index: 1;
		width: 100%;
		max-width: 1200px;
		padding-right: 24px;
		padding-left: 24px;
		@media (max-width: 768px) {
			grid-template-columns: 1fr;
			height: 100%;
		}

		&--left {
			width: 100%;
			line-height: 1.2;
			@media (max-width: 768px) {
				padding: 5rem 0;
			}
			@media (max-width: 280px) {
				line-height: 1.5;
			}

			h1 {
				font-size: 4rem;
				color: var(--standout-color);
				margin: 0;
				@media (max-width: 280px) {
					font-size: 1.5rem;
				}
			}

			h2 {
				font-size: 3rem;
				color: var(--secondary-color);
				margin: 0;
				@media (max-width: 280px) {
					font-size: 2rem;
				}
			}

			p {
				font-size: 1.5rem;
				color: var(--secondary-color);
				margin-top: 2rem;
				font-weight: 700;
				@media (max-width: 280px) {
					font-size: 1.5rem;
				}
			}

		}
		&--right {
			text-align: center;
		}
	}
	&__img {
		height: 100%;
		width: 100%;
	}
}

.hero--button {
	font-size: 1rem;
	background-color: var(--standout-color);
	padding: 14px 32px;
	border: none;
	border-radius: 4px;
	color: var(--primary-color);
	margin-top: 2rem;
	cursor: pointer;
	position: relative;
	transition: all 0.3s;
	outline: none;

	a {
		position: relative;
		z-index: 2;
		color: var(--primary-color);
		text-decoration: none;
	}

	&:after {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		background: var(--button-hover-color);
		transition: all 0.3s;
		border-radius: 4px;
	}
	
	&:hover:after {
		width: 100%;
	}
}
